/* START OF SITE CONTAINER */
.floating-side-bar{
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.floating-side-bar .logo{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    overflow: hidden;
}
.floating-side-bar .logo img{
    width: 100%;
    height: auto;
}

.pages-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pages-icons .page-icon,
.logout-icon a{
    display: block;
    padding: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px #e3e0e0;
}
.pages-icons .page-icon svg,
.logout-icon a svg{
    display: block;
    width: 50px;
    height: 50px;
    color: var(--main-color);
}

.pages-icons .page-icon:hover,
.logout-icon a:hover {
    background-color: var(--main-color) ;
}

.active{
    background-color: var(--main-color) !important;
}

.pages-icons .page-icon:hover svg,
.active svg,
.logout-icon a:hover svg{
    stroke: #fff;
}
/* END OF SITE CONTAINER */