/* START OF CREATE CUSTOMER PAGE STYLES  */
.create-customer-page .steps-slider{
    display: flex;
    justify-content: center;
}
.create-customer-page .steps-slider .step{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    border: 2px solid var(--main-color);
    font-size: 24px;
    color: var(--main-color);
    margin-right: 95px;
}
.create-customer-page .steps-slider .step.active{
    color: #fff;
    background-color: var(--main-color);
}
.create-customer-page .steps-slider .step::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -212%;
    width: 210%;
    height: 10px;
    background-color: #fff;
    border: 1px solid var(--main-color);
}
.create-customer-page .steps-slider .step.active-bar::after{
    background-color: var(--main-color);
}
.create-customer-page .steps-slider .step:last-child:after{
    content: none;
}
.create-customer-page .steps-slider .step span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.create-customer-page .steps-slider .step .step-title{
    position: absolute;
    bottom: -15px;
    top: auto;
    left: 50%;
    color: var(--main-color);
    font-size: 16px;
    transform: translate(-50%, 15px);
}
.create-customer-page .steps-slider .step.active .step-title{
    font-weight: 600;
}
.create-customer-page  .form-step{
    background-color: var(--main-color);
    padding: 20px;
    padding-top: 35px;
    margin-top: 100px;
    margin-bottom: 20px ;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #e3e0e0;
    position: relative;
    display: none;
}
.form_step_active{
    display: block !important;
}
.create-customer-page  .form-step .form-step-title{
    position: absolute;
    top: -40px;
    left: 35px;
    background: var(--main-color);
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.create-customer-page .form-step label{
    font-size: 1.125rem;
    font-weight: 500;
    color: #fff;
}
.create-customer-page  .form-step input{
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 5px;
    min-height: 45px;
}
.create-customer-page .form-step input:focus,
.create-customer-page .form-step input:focus-visible{
    outline: 0;
    box-shadow: none;
}
.create-customer-page .form-step .form-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.create-customer-page .form-step .form-buttons button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
}
/* START OF REATE CUSTOMER PAGE STYLES  */

/* START STYLING OF BUTTONS */
.create-customer-page .form-step .form-buttons button.custom-btn{
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    outline: 0
}
.create-customer-page .form-step .form-buttons button.custom-btn:hover,
.create-customer-page .form-step .form-buttons button.custom-btn:active,
.create-customer-page .form-step .form-buttons button.custom-btn:focus{
    color: var(--main-color);
    background: #fff;
}
/* END STYLING OF BUTTONS */